<header>
  <h1>Legislator Lookup</h1>
  <p>
    Lookup for the legislators in your area.
  </p>
  {{#link-to 'index'}}Legislator Lookup{{/link-to}}
</header>
{{outlet}}
<footer>
{{#link-to 'about'}}About us{{/link-to}}
{{#link-to 'contact'}}Hit us up!{{/link-to}}
</footer>
