<ul>
{{#each model as |legislator|}}
<li>{{legislator.first_name}} {{legislator.last_name}}'s <a href="https://www.youtube.com/user/{{legislator.youtube_id}}">youtube Channel</a></li>
{{/each}}
</ul>
